  <!DOCTYPE html>
<html lang="en">
  <head>
    <title>Backgammon Boards</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>

  <body>
      <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">Backgammon Boards</a>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <% if(!currentUser) { %>
                  <li><a href="/login">Login</a></li>
                  <li><a href="/register">Sign Up</a></li>
                <%} else { %>
                  <li><a href="#">Signed in as <%= currentUser.username %></a> </li>
                  <li><a href="/logout">Logout</a></li>
                <%}%>
              </ul>
            </div>
          </div>
        </nav>
