<% include ../partials/header %>
<div class="container">
  <div class="row">
    <h1 style="text-align: center;">Edit Comment</h1>
    <div style="width: 30%; margin: 25px auto;">
      <form action="/backgammonBoards/<%= backgammonBoard_id%>/comments/<%= comment._id %>?_method=PUT" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="comment[text]" value="<%= comment.text %>" />
        </div>
        <div class="form-group">
          <button class="brn btn-lg btn-default btn-block btn-primary">
            Add Backgammon Board
          </button>
        </div>
      </form>
      <a href="/backgammonBoards">Back to backgammon boards</a>
    </div>

  </div>
</div>
<% include ../partials/footer %>