<% include ./partials/header %>

<h1>login</h1>

<form action="/login" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button>Login</button>
</form>

<% include ./partials/footer %>
