<% include ./partials/header %>

<h1>sign up</h1>
<form action="/register", method="POST">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button>Submit</button>
</form>

<li><a href="/login">login</a></li>
<li><a href="/logout">logout</a></li>
<% include ./partials/footer %>
