<% include ../partials/header %>
<div class="container">
  <div class="row">
    <h1 style="text-align: center;">Edit <%= backgammonBoard.name %></h1>
    <div style="width: 30%; margin: 25px auto;">
      <form action="/backgammonBoards/<%=backgammonBoard._id%>?_method=PUT" method="POST">
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="backgammonBoard[name]"
            value="<%= backgammonBoard.name %>"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="backgammonBoard[image]"
            value="<%= backgammonBoard.image %>"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="backgammonBoard[description]"
            value="<%= backgammonBoard.description %>"
          />
        </div>
        <div class="form-group">
          <button class="brn btn-lg btn-default btn-block btn-primary">
            Add board
          </button>
        </div>
      </form>
      <a href="/backgammonBoards">Back to all backgammon boards</a>
    </div>
    
  </div>
</div>
<% include ../partials/footer %>
