<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Backgammon Boards</h1>
            <p>From all over the world</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/backgammonBoards/new">Add new Backgammon Board</a>
            </p>
        </div>
    </header>
    <div class="row text-center" style="display:flex;flex-wrap: wrap;">
        <%backgammonBoards.forEach(function(board) { %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src=" <%= board.image %>" />
                <div class="caption">
                    <h4><%= board.name %></h4>
                </div>
                <p>
                    <a href="/backgammonBoards/<%= board._id %>" class="btn btn-primary">More info</a>
                </p>
            </div>
        </div>
        <%});%>
    </div>
</div>

<% include ../partials/footer%>