<% include ../partials/header %>
<div class="container">
  <div class="row">
    <h1 style="text-align: center;">Add new Backgammon Board</h1>
    <div style="width: 30%; margin: 25px auto;">
      <form action="/backgammonBoards" method="POST">
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="name"
            placeholder="Name"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="image"
            placeholder="URL"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="description"
            placeholder="description"
          />
        </div>
        <div class="form-group">
          <button class="brn btn-lg btn-default btn-block btn-primary">
            Add board
          </button>
        </div>
      </form>
      <a href="/backgammonBoards">Back to all backgammon boards</a>
    </div>
    
  </div>
</div>
<% include ../partials/footer %>
