<% include ../partials/header %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">Backgammon Boards</p>
      <div class="list-group">
        <li class="list-group-item active ">info 1</li>
        <li class="list-group-item">info 2</li>
        <li class="list-group-item">info 3</li>
      </div>
    </div>
    <div class="col-md-9">
      <div class="thumbnail">
        <img class="img-responsive" src="<%= backgammonBoard.image %>">
        <div class="caption-full">
          <h4 class="pull-right">$9.00</h4>
          <h4><a><%=backgammonBoard.name%></a></h4>
          <p><%=backgammonBoard.description %></p>
          <p><em>Submitted by <%=backgammonBoard.author.username %></em></p>
          <% if(currentUser && backgammonBoard.author.id.equals(currentUser._id)) { %>
          <a href="/backgammonBoards/<%= backgammonBoard._id%>/edit" class="btn btn-warning">Edit board</a>
          <form class="delete-form" action="/backgammonBoards/<%= backgammonBoard._id%>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
          </form>
          <% } %>
        </div>
      </div>
      <div class="well">
        <div class="text-right">
          <a href="/backgammonBoards/<%= backgammonBoard._id%>/comments/new" class="btn btn-success">Leave a comment</a>
        </div>
        <hr>
        <% backgammonBoard.comments.forEach(comment => { %>
        <div class="row ">
          <div class="col-md-12">
            <strong><%= comment.author.username %></strong>
            <span class="pull-right">10 days ago</span>
            <p><%= comment.text %></p>
            <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
            <a class="btn btn-xs btn-warning"
              href="/backgammonBoards/<%= backgammonBoard._id%>/comments/<%=comment._id%>/edit">Edit</a>
            <form class="delete-form"
              action="/backgammonBoards/<%= backgammonBoard._id%>/comments/<%=comment._id%>?_method=DELETE"
              method="POST">
              <input type="submit" class="btn btn-xs btn-danger" value="Delete">
            </form>
            <% } %>
          </div>
        </div>
        <%});%>
      </div>
    </div>
  </div>
</div>



<% include ../partials/footer %>
